@import url('main.css');

/*!****************************************** [ MOBILE VERSION ]************************************!*/
@media screen and (max-width: 1000px) {


    /********* [ HEADER PAGE ] *********/
    .header .header-left {
        display: none;
    }

    .header .header-right {
        display: none;
    }

    .logo {
        width: 200px;
        position: static;
        margin: 0 auto;
    }

    /********* [ FOOTER PAGE ] *********/
    .footer-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
        width: 600px;

    }

    .footer-box h3 {
        margin-bottom: 20px;
        font-size: 36px;
    }

    .footer-box p {
        font-size: 24px;
    }

    /********* [ HOME PAGE ] *********/
    .content-home {
        text-align: left;
    }

    .content-home h1 {
        font-size: 64px;
    }

    .content-home h1 p {
        font-size: 128px;
    }

    .content-home h3 {
        font-size: 32px;
        width: 600px;
    }

    .content-home input, .search-input input[type=text] {
        font-size: 32px;
        width: 600px;
        border-radius: 20px;
        margin-right: 10px;
    }

    .btn {
        font-size: 32px;
        border-radius: 20px;
    }
    /********* [ ERROR MESSAGE ] *********/
    .error_info ion-icon {
        font-size: 72px;
    }

    .error_info span {
        max-width: 600px;
        font-size: 24px;
    }

    /********* [ MEETING DETAIL ] *********/


    .meeting-id2 {
        font-size: 400px;

    }

    .name_main_date {
        font-size: 28px;
    }

    .name_main {
        font-size: 140px;
    }

    .yes, .no {
        width: 500px;
        font-size: 32px;

    }

    .work_time p {
        font-size: 24px;
    }

    .contine_info ion-icon {
        font-size: 40px;
    }

    .contine_info p {
        width: 400px;
        font-size: 24px;
    }

    .description {
        width: 700px;
    }
    /********* [ MOBILE MENU ] *********/
    .menu-toggle {
        display: none;
    }

    .mobile_menu {
        display: initial;
    }

    .mobile_menu ion-icon {
        height: 100px;
        width: 100px;
    }

    /* ����� ��� ������ ���� */
    .menu-button {
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }

    .mobile_menu_user {
        display: flex;
        align-items: center;
    }

    /* ����� ��� ������������ ���� */
    .menu {
        position: absolute;
        top: 200px;
        left: -100%; /* �������� ���� �� ��������� ��������� */
        width: 100%;
        height: 100%;
        background-color: rgba(34, 40, 49, 0.8);
        transition: left 0.3s ease; /* �������� �������� ���� */
        z-index: 2;
    }

    /* ����� ��� ��������� ���� */
    .menu ul {
        list-style-type: none;
        padding: 0;
    }

    .menu li {
        padding: 30px;
        font-size: 36px;
        text-align: left;
    }

    .btn {
        font-size: 36px;
    }

    /* �������� ��� ��������� (�������) �������� */
    .menu-toggle:checked + .menu-button + .menu {
        left: 0;
        position: absolute; /* ���������� ���� ��� ��������� �������� */
    }
}



/*    !**[ FOOTER ]**!*/
/*    footer {*/
/*        display: block;*/
/*        font-size: 28px;*/
/*    }*/

/*    .footer-box{*/
/*        margin: 40px auto;*/
/*        width: 600px;*/
/*    }*/
/*    .footer_links {*/
/*        display: none;*/
/*    }*/

/*    .contacts-links {*/
/*        margin: 10px 20%;*/
/*    }*/



/*    !**[ HOME PAGE ]**!*/
/*    .content-home {*/
/*    text-align: center;*/
/*}*/

/*    .content-home h1{*/
/*        font-size: 48px;*/
/*    }*/

/*    .content-home h1 p{*/
/*        font-size: 100px;*/
/*    }*/

/*    .content-home h3{*/
/*        width: 600px;*/
/*        font-size: 36px;*/
/*        margin: 30px auto;*/
/*        font-weight: normal;*/
/*        color: #f4e7d7;*/

/*    }*/

/*    .content-home input,.search-input input[type=text] {*/

/*        font-size: 36px;*/
/*        width: 600px;*/
/*    }*/



/*    !**[ ERROR ]**!*/

/*    .error_info {*/
/*        display: flex;*/
/*        margin: 20px 10%;*/
/*}*/

/*    .error_info ion-icon {*/
/*        font-size: 60px;*/
/*    }*/

/*    .error_info span {*/
/*        max-width: 500px;*/
/*        font-size: 30px;*/
/*        text-align: left;*/
/*    }*/
/*    }*/


/*** [ Large Device, Wide Screen ] ***/
/*@media screen and (max-width: 1200px) {*/

/*    * {*/
/*        font-size: 14px;*/
/*    }*/
/*    .body_content {*/
/*        min-height: 70%;*/
/*    }*/
/*    .header {*/
/*        width: 95%;*/
/*    }*/
/*    .logo {*/
/*        width: 70px;*/
/*        }*/

/*    .body_content {*/
/*        margin: 15px auto;*/
/*    }*/
/*    .content-home {*/
/*        padding: 50px 50px;*/
/*    }*/
/*    .content-home h1 {*/
/*        font-size: 24px;*/
/*        margin-bottom: 25px*/
/*    }*/

/*    .content-home h1 p {*/
/*        font-size: 48px;*/
/*    }*/

/*    .content-home h3 {*/
/*        margin-bottom: 25px;*/
/*    }*/

/*    .footer-content {*/
/*        width: 95%;*/
/*    }*/
/*   .icons_button {*/
/*        width: 250px;*/
/*    }*/
/*    .meeting-box, .meeting-box2 {*/
/*        max-width: 580px;*/
/*    }*/

/*    .meeting-box-content {*/
/*        max-width: 48%;*/
/*    }*/

/*    .meeting-title {*/
/*        max-width: 70%;*/
/*        white-space: nowrap;*/
/*        overflow: hidden;*/
/*        text-overflow: ellipsis;*/
/*    }*/

/*    .meeting-content {*/

/*        padding: 25px 25px;*/
/*    }*/


/*}*/

/*** [ Medium Device, Desktops ] ***/
@media screen and (max-width: 992px) {
}

/*** [ Small Device, Tablets ] ***/
@media screen and (max-width: 768px) {
}

/*** [ Extra Small Device, Phones ] ***/
@media screen and (max-width: 480px) {
}

/*** [ Custom, iPhone Retina ] ***/
@media screen and (max-width: 320px) {
}