@import url('main.css');

/*!****************************************** [ MOBILE VERSION ]************************************!*/
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
    .home {
        width: 80%;
    }

    .hero-info h1 {
        font-size: 3.5rem;
    }

    /* HEADER */
    .btn {
        font-size: 14px;
    }

    header .left-header {

        display: inline-block;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
    }

    header .logo {
        width: 3rem;
    }

    /* LOGIN/REGISTER */
    .link_to_register {
        margin: 0 10px;
    }

    /* MEETING LIST */
    .meeting-box, .meeting-box2 {
        width: 270px;
        padding: 5px 15px;
    }

    .meeting-content-box {
        margin-left: 0;
    }


    .search-input input[type=text] {
        margin-right: 5px;
    }

    .week_buttons button {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;

    }

    .meeting_box_week_day {
        display: flex;
        flex-wrap: wrap;

    }

    .meeting-id {
        font-size: 64px;
    }

    .meeting_info {
        max-width: 270px;
    }

    .meeting-title, .meeting-title2 {
        height: 30px;
        font-size: 24px;
        max-width: 270px;
    }


    .meeting-date, .meeting-date2 {
        font-size: 12px;
    }

    .user_box {
        height: 40px;
        max-width: 260px;
        font-size: 14px;

    }


}

@media screen and (max-width: 320px) {
}

