* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_body {
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    background: #222831;
    font-family: "Century Gothic";

}

/****************************************** [ HEADER PAGE ]************************************/

header {
    width: 100%;
    max-width: 1920px;
    margin: 10px auto;
    background: rgba(57, 62, 70, 0.6);
}

header div {
    display: flex;
}
.logo {
    width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;


}

.header .header-right,.header .header-left{
    list-style: none;
    display: flex;
    align-items: center;
}

.header ion-icon {
    color: #494949;
    height: 30px;
    width: 50px;
}
ul li{
    list-style: none;
    margin: 0 20px;
    color: #EEEEEE;

}

ul li a,.form-body a,.form-body-reg a{
    text-decoration: none;
    color: #EEEEEE;

}

.header-left li a,.form-body a,.form-body-reg a{
    position: relative;
}

.header-left li a::after,.form-body a::after,.form-body-reg a::after {
    content: '';
    background: #00ADB5;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.header-left li a:hover::after,.form-body a:hover::after,.form-body-reg a:hover::after {
    width: 100%;
}

.main_body hr {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    border: 1px solid #494949;
}

.btn_hover {
    text-align: center;
    border: 3px solid #00ADB5;
    padding: 10px 20px;
    background: none;
    font-size: 16px;
    font-weight: bold;
    cursor:pointer;
    color: #ffffff;
}

.btn_hover:hover{
    background: #00ADB5;
    color: #ffffff;
    tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.header-right li a:hover{
    color: #ffffff;
}


/****************************************** [ FOOTER PAGE ]************************************/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 10px auto;
    padding: 25px 40px;
    background: rgba(57, 62, 70, 0.8);
    color: #EEEEEE;
}




.footer-box {
    width: 300px;
}

.footer-box h3 {
    margin-bottom: 20px;
}
.contacts-links {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contacts a{
    text-decoration: none;
    color: #EEEEEE;
}

.contacts a:hover{
    color:#00ADB5;
}
footer ion-icon {
    color: #EEEEEE;
    width: 40px;
    height: 25px;
}

.icons {
    width: 40px;
    margin-right: 20px;
}

.footer-box li{
    margin-bottom: 10px;
}

/****************************************** [ HOME PAGE ]************************************/

.main-content {
    width: 100%;
    max-width: 1920px;
    height: 800px;
    margin: 10px auto;
    padding: 100px 60px;
    text-align: left;
}

.content-top h1{
    font-size: 32px;
    color: #EEEEEE;
    margin-bottom: 50px;
    font-family: "Century Gothic";

}
.content-top h1 p{
    font-size: 64px;
    color:#00ADB5;

}

.content-top h3{
    width: 300px;
    font-weight: normal;
    margin-bottom: 50px;
    color: #EEEEEE;

}

.content-top input,.search-input input[type=text] {
    padding: 10px 30px;
    border: 3px solid #494949;
    font-size: 16px;
    width: 300px;
}
/****************************************** [ ERROR_PAGE ]************************************/

.error_info {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.error_logo {
    font-size: 16px;
    background: #ff0000;
    border-radius: 100px;
    width: 30px;
    padding: 5px;
    text-align: center;
    color: #F4E7D7;
}

.error_info span {
    font-size: 14px;
    color: #ff0000;
    margin-left: 20px;
}

.error_box {
    width: 100%;
    max-width: 480px;
    margin: 100px auto;
    padding: 50px 20px;
    text-align: center;
    background: rgba(73,73,73,0.8);
    border-radius: 50px;
}

.error_box_message {
    font-size: 24px;
    color: #F4E7D7;
}

.error_box ion-icon {
    color: #F4E7D7;
    width: 40px;
    height: 50px;
}

/******************************************************************************************


/****************************************** [ LOGIN ]************************************/

.form-body {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;



    border-radius: 50px;
    display: flex;

}

.login-left {
    padding: 50px 50px;
    width: 300px;
    height: 400px;
    text-align: center;
    background: rgba(73,73,73,0.8);
}

.login-right {
    padding: 50px 50px;
    width: 300px;
    height: 400px;
    text-align: center;
    background: #F4E7D7;
}
.login_title {
    font-size: 64px;
    color: #494949;
    margin-bottom: 30px;
}

.form-up {
    display: inline-block;
    color: #F4E7D7;
}

.form-up input[type=text],.form-up input[type=password] {
    width: 259px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px 30px;
    font-size: 16px;
    background: #ffffff;
    border: none;
}

.form-up input[type=submit] {
    text-align: center;
    width: 259px;
    font-size: 16px;
    background: #00ADB5;
    color: #F4E7D7;
    font-weight: bold;
    margin-bottom: 50px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.form-up input[type=submit]:hover {
    letter-spacing: 0.5em;
}

.form-body a{
    color: #F4E7D7;
 }
/************************************************************************************

/****************************************** [ REGISTER ]************************************/

.form-body-reg {
    width: 100%;
    max-width: 720px;
    margin: 100px auto;
    padding: 50px 65px;
    text-align: center;
    background: rgba(73,73,73,0.8);
    border-radius: 50px;
}

.register_title {
    font-size: 64px;
    color: #F4E7D7;
    margin-bottom: 30px;
}

.form-reg {
    display: block;
    color: #F4E7D7;
    text-align: left;
}

.form-reg input[type=text] {
    width: 270px;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 16px;
    background: #ffffff;
    border: none;
    margin-right: 49px;
}

.name_box {
    width: 589px;
    display: flex;

}
.form-reg input[type=email],.form-reg input[type=password] {
    width: 589px;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 16px;
    background: #ffffff;
    border: none;
    margin-bottom: 40px;
    text-align: center;
}

.form-reg input[type=password] {
    margin-bottom: 10px;
}

.name_box {
    margin-top: 40px;
    margin-bottom: 40px;
}
.name_box,.user_box {
    display: flex;
    align-items: center;
}

.form-reg p{
    font-size: 14px;
}

.form-body-reg input[type=submit] {
    text-align: center;
    width: 589px;
    font-size: 16px;
    background: #00ADB5;
    color: #F4E7D7;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.form-body-reg input[type=submit]:hover {
    letter-spacing: 0.5em;
}

.form-body-reg a{
    color: #F4E7D7;
 }
/************************************************************************************


/****************************************** [ MEETING DETAIL ]************************************/

.meeting_detail {
    width: 100%;
    max-width: 1920px;
    margin: 10px auto;
    padding: 50px 60px;
    text-align: left;
    color: #F4E7D7;
}

.meeting-id2 {
    font-size: 300px;
    color: rgba(0, 173, 181, 0.2);
    position: absolute;
    top: 10%;
    left: 5%;
}

.name_main_date {
    font-size: 24px;
    margin-top: 20px;

}



.first_last_name {
    font-size: 32px;
    margin-bottom: 20px;
}

.name_main {
    font-size: 72px;
    color: #00ADB5;
    margin-bottom: 20px;
}

.yes, .no {
    width: 365px;
    background: #494949;
    border-radius: 25px;
    padding: 21px 0;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #F4E7D7;
}

.no {
    text-decoration: line-through;
    background: rgba(73,73,73,0.7)
}

.restaurant_box {
    display: flex;
    margin-top: 30px;
}

.restaurant_box hr {
    margin: 10px 0;
}

.meeting_detail_last {
    margin-top: 50px;
}

.description {
    width: 600px;
    padding: 30px;
    background: white;
}
/*****************************************************************************************


 */
/****************************************** [ MEETING PAGE ]************************************/

.meeting-content {
    display: flex;
    align-items: start;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 60px 60px;
    text-align: left;
}

.meeting-content-title {
    position: sticky;
    max-width: 500px;
    top: 0;

}
.meeting-page-title {
    font-size: 64px;
    color: #00ADB5;
    margin: 40px 0;
}

.meeting-counter {
    font-size: 32px;
    color: #EEEEEE;
    margin-bottom: 20px;
}

.add-meeting {
    width: 333px;
    height: 98px;
    border: 3px dashed #00ADB5;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-radius: 25px;
    margin-bottom: 20px;

}

.add-meeting:hover {
  tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.add-meeting:hover {
    background:#00ADB5;
    color: #EEEEEE;
  }


.plus {
    font-size: 24px;
    background: #393E46;
    border-radius: 100px;
    width: 40px;
    padding: 5px;
    text-align: center;
    color: #EEEEEE;
}

.search-input {
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.search-input input[type=text] {
    padding: 10px 30px;
    border: 3px solid #494949;
    font-size: 16px;
    width: 300px;
    margin-right: 20px;
}

.meeting_page_content {
    display: inline-block;
}


.meeting-box {
    background: #393E46;
    padding: 15px 30px;
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    position: relative;
    height: 100px;
    border-radius: 25px;
}

.meeting-box2 {
    background: rgba(73,73,73,0.7);
    padding: 15px 30px;
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    position: relative;
    height: 100px;
    border-radius: 25px;
}

.meeting-id {
    color: rgba(0, 173, 181, 0.4);
    font-size: 64px;
    position: absolute;
    top: 5%;
    left: 5%;

}

.meeting-box-content {
    margin-left: 150px;
    text-align: left;

}

.add_meeting_title {
    color: #EEEEEE;
}


.meeting-title {
    font-size: 32px;
    color: #EEEEEE;
    text-align: left;
    width: 800px;

}

.meeting-title2 {
    font-size: 32px;
    color: rgba(238,238,238, 0.5);
    text-align: left;
    width: 800px;
}
.meeting-date {
    color: #EEEEEE;
    text-align: left;
    font-size: 16px;

}

.meeting-date2 {
    color: rgba(238,238,238, 0.5);
    text-align: left;
    font-size: 16px;
}

.meeting-box ion-icon {
    color: #EEEEEE;
    width: 40px;
    height: 25px;
}

.meeting-box ion-icon:hover {
    color: #00ADB5;

}

.meeting-box2 ion-icon {
    color: #EEEEEE;
    width: 40px;
    height: 25px;
}

.meeting-box2 ion-icon:hover {
    color: #00ADB5;
}



/****************************************** [ DELETE PAGE ]************************************/

.delete_confirm_box {
    width: 100%;
    max-width: 480px;
    margin: 100px auto;
    padding: 50px 20px;
    text-align: center;
    background: rgba(73,73,73,0.8);
    border-radius: 50px;
}

.delete_confirm_box ion-icon {
    width: 40px;
    height: 50px;
    color: #F4E7D7;
}
.text_confirm {
    font-size: 24px;
    color: #F4E7D7;
}
.delete_confirm_box b{
    color: #00ADB5;
}

.yes_confirm, .no_confirm {
    text-align: center;
    width: 100px;
    font-size: 16px;
    background: #00ADB5;
    color: #F4E7D7;
    font-weight: bolder;
    margin: 30px 50px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    letter-spacing: 0.05em;
    transition: 0.5s;
    max-height: 48px;
}

.yes_confirm:hover,.no_confirm:hover {
    letter-spacing: 0.5em;
    width: 120px;
}

.no_confirm {
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bolder;
    max-height: 48px;
    width: 100px;

}
/************************************************************************************


 */
/****************************************** [ MEETING EDIT ]************************************/

.form-main {
    width: 100%;
    max-width: 1920px;
    margin: 10px auto;
    padding: 20px 60px;
    text-align: left;
    color: #F4E7D7;
}

.create_meeting {
    font-size: 48px;
    color: #00ADB5;
    margin-bottom: 40px;
}
.meeting_form_box {
    width: 599px;
}



.title_form input[type=text] {
    width: 589px;
    margin-bottom: 40px;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    margin-right:10px;
}


.date_field {
    display: flex;
    justify-content: space-between;
}

select {
    border: 0;
    background: white;
    width: 85px;
    padding: 10px 10px;
    margin-right:10px;
    margin-bottom: 40px;
    font-size: 18px;
}

.title_form_numbers {
    display: block;

    width: 259px;
}

.title_form_numbers input[type=number] {
    width: 259px;
    margin-bottom: 40px;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    margin-right:10px;
}

.semi_title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.meeting_edit_yes_no {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.meeting_form_box input[type=checkbox] {
    margin-left: 10px ;
    accent-color: #00ADB5;
    margin-right: 10px;
    appearance: none;
    border-radius: 50px;
    width: 40px;
    background: white;
    height: 20px;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.meeting_form_box input[type=checkbox]::before{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom, #F4E7D7,#00ADB5);
    border-radius: 50px;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 4px 4px rgba(255,255,255,0.2),
                inset -4px 4px rgba(255,255,255,0.2);

}

.meeting_form_box input[type=checkbox]:checked {
    background: #00ADB5;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

.meeting_form_box input[type=checkbox]:checked::before {
    left: 20px;
}

.description_area {
    margin-top: 40px;
}

.description_area p{
    font-size: 14px;
    width: 470px;
}

.meeting_form_box input[type=submit] {
    text-align: center;
    width: 100px;
    font-size: 16px;
    background: #00ADB5;
    color: #F4E7D7;
    font-weight: bolder;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    letter-spacing: 0.05em;
    transition: 0.5s;
    max-height: 48px;
}

.meeting_form_box input[type=submit]:hover {
    letter-spacing: 0.5em;
    width: 120px;
}

/************************************************************8

 */



