{% extends 'meetme/main.html' %}
{% load static %}
{% block content %}

<section class="home">
    <div class="hero-info">
        <h3>Welcome to</h3>
        <h1>meetme.</h1>
    </div>
    <p>To know more about your meeting, please enter your code and press GO</p>
    <form class="btn-box" action="{% url 'home'%}" method="GET" autocomplete="off">
        {% csrf_token %}
        <label for="id_number"></label>
        <input type="text" name="id_number" id="id_number" placeholder="&#x270e ">
        <button class="btn"><b>GO</b> <ion-icon name="arrow-forward-outline"></ion-icon></button>
    </form>
    {% if info %}
        <style>
            .btn-box input[type=text] {
                border: 3px solid #ff4747;
            }
        </style>
        <div class="error_info">
            <ion-icon name="close-circle-outline"></ion-icon>
            <span>Meeting <b>#{{info}}</b> not exist . Please try to enter your number again</span>
        </div>
    {% endif %}

        <!--        IF INPUT NUMBER IS NOT DIGITAL WORK THIS MESSAGE      -->
    {% if not_number %}
        <style>
            .btn-box input[type=text] {
                border: 3px solid #ff4747;
            }
        </style>
        <div class="error_info">
            <ion-icon name="close-circle-outline"></ion-icon>
            <span>"<b>{{not_number}}</b>" not a number. Your meeting number must contain only digits. Please try to enter your number again</span>
        </div>
    {% endif %}
</section>


{% endblock content %}