{% extends 'meetme/main.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <div class="content-top">

        <!--        TITLE CONTENT         -->
        <h1>Welcome to <p>MeetMe</p></h1>
        <h3>To know more about your meeting, please enter your code and press GO
        </h3>

        <!--        IF ID NUMBER NOT EXIST WILL WORK THIS MESSAGE      -->


        <!--        FORM FOR SEARCHING MEETING BY ID      -->
        <form action="{% url 'home'%}" method="GET" autocomplete="off">
            {% csrf_token %}
            <label for="id_number"></label>
            <input type="text" name="id_number" id="id_number" placeholder="&#x270e Enter your meeting number">
            <button class="btn_hover">GO</button>
        </form>
        {% if info %}
        <style>
            input {
                border: 3px solid #ff0000;

            }
        </style>
        <div class="error_info">
            <p class="error_logo">X</p>
            <span class="home_info">Meeting #{{info}} not exist . Please try to enter your number again</span>
        </div>

        {% endif %}
        {% if not_number %}
        <style>
            input {
                border: 3px solid #ff0000;

            }
        </style>
        <div class="error_info">
            <p class="error_logo">X</p>
            <span class="home_info">"{{not_number}}" not a number. Your meeting number must contain only digits. Please try to enter your number again</span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}