{% extends 'meetme/main.html' %}


{% block content %}

   <div class="form_content">

        <div class="form-log">

            <!--        USERNAME INPUT AND INFO      -->
            <div class="info-text login">
                <h1>Hello!</h1>
                <p class="info-semi-text">If you don't have an account, you can create your account here</p>
                <p class="btn"><a href="{% url 'register' %}">Create an account</a></p>
            </div>

            <div class="form_box login">
                <h1 class="register_title">LOGIN</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input_box">
                        <input type="text" name="username" id="username">
                        <label class="login_info_form" for="username">USERNAME</label>
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                    <div class="input_box">
                        <input type="password" name="password" id="password">
                        <label class="login_info_form" for="password">PASSWORD</label>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </div>
                    <input class="btn2" type="submit" value="LOGIN">
                </form>
            </div>



        </div>
</div>
<!--<div class="form-body">-->
<!--  <div class="login-left">-->
<!--    &lt;!&ndash;        LINK IF YOU DON'T HAVE ACCOUNT      &ndash;&gt;-->
<!--    <h1>Hello!</h1>-->
<!--     <p class="login_info">If you don't have an account, you can create your account here</p>-->
<!--      <p class="btn_hover"><a href="{% url 'register' %}">Create an account</a></p>-->
<!--  </div>-->
<!--  <div class="form-up, login-right">-->
<!--    <h1 class="login_title">LOGIN</h1>-->
<!--    <form action="" method="POST">-->
<!--    {% csrf_token %}-->
<!--      &lt;!&ndash;        FORM FOR LOGIN      &ndash;&gt;-->
<!--    <label class="login_info_form" for="username">Username</label>-->
<!--    <input type="text" name="username" id="username" placeholder="&#x270e username">-->
<!--    <label class="login_info_form" for="password">Password</label>-->
<!--    <input type="password" name="password" id="password" placeholder="&#x270e password">-->
<!--    <input type="submit" value="LOGIN">-->
<!--  </form>-->
<!--  </div>-->

<!--  </div>-->

{% endblock content %}