{% extends 'meetme/main.html' %}


{% block content %}


<div class="form-body">
  <h1 class="login_title">LOGIN</h1>
  <div class="form-up">
    <form action="" method="POST">
    {% csrf_token %}
      <!--        FORM FOR LOGIN      -->
    <label class="login_info_form" for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="&#x270e username">
    <label class="login_info_form" for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="&#x270e password">
    <input type="submit" value="LOGIN">
  </form>
  </div>
<div>
  <!--        LINK IF YOU DON'T HAVE ACCOUNT      -->
   <p><a href="{% url 'register' %}">Don't have an account? REGISTER</a></p>
</div>
  </div>

{% endblock content %}