{% extends 'meetme/main.html' %}


{% block content %}


<div class="form-body">
  <div class="login-left">
    <!--        LINK IF YOU DON'T HAVE ACCOUNT      -->
    <h1>Hello!</h1>
     <p><a href="{% url 'register' %}">If you don't have an account, you can create your account here</a></p>
  </div>
  <div class="form-up, login-right">
    <h1 class="login_title">LOGIN</h1>
    <form action="" method="POST">
    {% csrf_token %}
      <!--        FORM FOR LOGIN      -->
    <label class="login_info_form" for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="&#x270e username">
    <label class="login_info_form" for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="&#x270e password">
    <input type="submit" value="LOGIN">
  </form>
  </div>

  </div>

{% endblock content %}