<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>MEETME</title>
    <link rel="stylesheet" href="{% static 'meetme/css/style.css' %}">
    <script src="https://kit.fontawesome.com/c8dc484f72.js" crossorigin="anonymous"></script>

</head>
<body class="main_body">

    <!--    HEADER NAVIGATION-->

    <header>
        <img class="logo" src="{% static "meetme/img/Logo_new-02.png" %}" alt="LOGO">
        <div class="header">
            <div>
                <ul class="header-left">
                    <li><a href="{% url 'home' %}"><b>HOME</b></a></li>
                    <li><a href="{% url 'meetings' %}"><b>MEETINGS</b></a></li>
                    <li><a href="#"><b>INFO</b></a></li>
                </ul>
            </div>
            <div>

                <ul class="header-right">
                    <li><ion-icon name="person-circle-outline"></ion-icon></li>
                    {% if request.user.is_authenticated %}
                    <li><p class="user_name"><b>{{request.user}}</b></p></li>
                    <li class="btn"><a class="btn_hover" href="{% url 'logout' %}"><b>LOGOUT</b></a></li>
                    {% else %}
                    <li class="btn"><a class="btn_hover" href="{% url 'login' %}"><b>SIGN UP</b></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <hr>
    <div>

        {% block content %}

        {% endblock content %}

    </div>



    <!--    FOOTER NAVIGATION-->
    <hr>
    <footer>
        <img class="logo2" src="{% static "meetme/img/Logo_new-02.png" %}" alt="LOGO">
        <div class="footer-box">
            <h3><b>ABOUT US</b></h3>
            <p>This is MeetMeApp. Our mission to help you with organization your meeting and help your quests to
                spend your time during meeting more comfortable</p>
        </div>
        <div class="footer-box">
            <h3><b>LINKS</b></h3>
            <ul class="header-left">
                <li><a href="{% url 'home' %}"><b>HOME</b></a></li>
                <li><a href="{% url 'meetings' %}"><b>MEETINGS</b></a></li>
                <li><a href="#"><b>INFO</b></a></li>
            </ul>
        </div>
        <div class="footer-box">
            <h3><b>CONTACT US</b></h3>
            <div class="contacts">
                <div class="contacts-links">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                    <p><a href="https://wa.me/4915111111111">MeetMeApp</a></p>
                </div>
                <div class="contacts-links">
                    <ion-icon name="call"></ion-icon>
                    <p><a href="tel:+4915111111111">+49 1511 111 11 11</a></p>
                </div>
                <div class="contacts-links">
                    <ion-icon name="mail"></ion-icon>
                    <p><a href="mailto: admin@admin.com">admin@admin.com</a></p>
                </div>



            </div>

        </div>
        <div class="footer-box">
            <h3><b>FOLLOW US</b></h3>

            <div class="contacts-links">
                <ion-icon name="logo-twitter"></ion-icon>
                <p>Follow us in Twitter</p>
            </div>
            <div class="contacts-links">
                <ion-icon name="logo-instagram"></ion-icon>
                <p>Follow us in Instagram</p>
            </div>

        </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</footer>
</body>
</html>