<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>MEETME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'meetme/css/style.css' %}">
    <link rel="icon" href="{% static 'meetme/img/Logo.png' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c8dc484f72.js" crossorigin="anonymous"></script>

    <style>
        .main_body {
            background-image: url('{% static "meetme/img/background_1.png" %}');
            background-repeat: no-repeat;
            background-position: top;
            background-size: 1920px 1260px;
            background-attachment: fixed;
        }
        @media screen and (max-width: 1000px) {

            .main_body {
                background-image: url('{% static "meetme/img/background_2.png" %}') !important;
                background-size: 1000px 1800px ;
            }
        }


    </style>
</head>
<body class="main_body">

    <!--    HEADER NAVIGATION-->

    <header>

        <div class="header">
            <!-- Menu will change for mobile screen            -->
            <div class="mobile_menu">
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" class="menu-button"><ion-icon name="menu-outline"></ion-icon>
                    </label>
                <div class="menu">
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li class="mobile_menu_user"><ion-icon name="person-circle-outline"></ion-icon>
                            <p class="user_name"><b>{{request.user}}</b></p></li>
                        <hr>
                        {% endif %}
                        <li><a class="btn4" href="{% url 'home' %}"><B>HOME</B></a></li>
                        <li><a class="btn4" href="{% url 'meetings' %}"><B>MEETINGS</B></a></li>
                        <li><a class="btn4" href="{% url 'info' %}"><B>INFO</B></a></li>
                        {% if request.user.is_superuser %}
                            <li><a class="btn4" href="{% url 'users' %}"><B>USERS</B></a></li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li><a class="btn" href="{% url 'logout' %}"><b>LOGOUT</b></a></li>
                        {% else %}
                        <li><a class="btn" href="{% url 'login' %}"><b>SIGN UP</b></a></li>
                        {% endif %}
                    </ul>


                </div>
            </div>


            <!--            -->

            <img class="logo" src="{% static "meetme/img/Logo.png" %}" alt="LOGO">

            <div>
                <ul class="header-left">
                    <li><a href="{% url 'home' %}"><B>HOME</B></a></li>
                    <li><a href="{% url 'meetings' %}"><B>MEETINGS</B></a></li>
                    <li><a href="{% url 'info' %}"><B>INFO</B></a></li>
                    {% if request.user.is_superuser %}
                        <li><a class="btn4" href="{% url 'users' %}"><B>USERS</B></a></li>
                    {% endif %}
                </ul>
            </div>

            <div>
                <ul class="header-right">

                    {% if request.user.is_authenticated %}
                    <li><ion-icon name="person-circle-outline"></ion-icon></li>
                    <li><p class="user_name"><b>{{request.user}}</b></p></li>
                    <li><a class="btn" href="{% url 'logout' %}"><b>LOGOUT</b></a></li>
                    {% else %}
                    <li><a class="btn" href="{% url 'login' %}"><b>SIGN UP</b></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    <div class="body_content">

        {% block content %}

        {% endblock content %}

    </div>



    <!--    FOOTER NAVIGATION-->
    <footer>
        <div class="footer-content">

            <div class="footer-box">
                <h3><b>ABOUT US</b></h3>
                <p>This is MeetMeApp. Our mission to help you with organization your meeting and help your guests to
                    spend your time during meeting more comfortable</p>
            </div>
            <div class="footer-box">
                <h3><b>LINKS</b></h3>
                <ul class="header-left">
                    <li><a href="{% url 'home' %}">HOME</li>
                    <li><a href="{% url 'meetings' %}">MEETINGS</a></li>
                    <li><a href="{% url 'info' %}">INFO</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h3><b>CONTACT US</b></h3>
                <div class="contacts">
                    <div class="contacts-links">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                        <p><a href="https://wa.me/4915111111111">MeetMeApp</a></p>
                    </div>
                    <div class="contacts-links">
                        <ion-icon name="call"></ion-icon>
                        <p><a href="tel:+4915111111111">+49 1511 111 11 11</a></p>
                    </div>
                    <div class="contacts-links">
                        <ion-icon name="mail"></ion-icon>
                        <p><a href="mailto: admin@admin.com">admin@admin.com</a></p>
                    </div>
                </div>
            </div>
            <div class="footer-box">
                <h3><b>FOLLOW US</b></h3>
                <div class="contacts-links">
                    <ion-icon name="logo-twitter"></ion-icon>
                    <p>Follow us in Twitter</p>
                </div>
                <div class="contacts-links">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <p>Follow us in Instagram</p>
                </div>
            </div>

        </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</footer>
</body>
</html>