{% extends 'meetme/main.html' %}
{% block content %}

<div class="meeting_detail">
    <div>
        <h1 class="meeting-id2">{{ object.id}}</h1>
    </div>


    <!--        DATE AND NAME CONTENT-->
    <div>
        <p class="first_last_name">{{ user.first_name|upper }} {{ user.last_name|upper }} </p>
        <div>
            {% if object.end_date == object.start_date %}
            <p class="name_main_date"><b>{{ object.start_date}}</b></p>
            {% elif object.end_date %}
            <p class="name_main_date"><b>{{ object.start_date}} - {{object.end_date}}</b></p>
            {% else %}
            <p class="name_main_date"><b>{{ object.start_date}}</b></p>
            {% endif %}
        </div>
        <p class="name_main"><b>{{ object|upper}}</b>
        <p class="name_main_date">{{ object.number_of_quests}} GUEST{{ object.number_of_quests|pluralize|upper }}</p>
    </div>

    <!--        COFFEE BARS AND RESTAURANTS-->
    <div>
        <p class="name_main_date">Place where you can eat and drink for free:</p>
        <div>
            <div class="restaurant_box">
                <div class="restaurant_info">
                    <div></div>
                        {% if object.restaurant %}
                        <p class="yes"><b>RESTAURANT : YES</b></p>
                        {% else %}
                        <div>
                             <p class="no"><b>RESTAURANT : NO</b></p>
                            <div class="contine_info">
                                <ion-icon name="alert-circle-outline"></ion-icon>
                                <p >In order to eat and drink here, you need to get a guest card at the reception, put money on it. Unfortunately, it is impossible to pay with money or bank cards here</p>
                            </div>

                        </div>
                         {% endif %}
                    </div>
                    <div class="work_time">
                        <p ><b>Breakfast:</b> from 7-30 to 9-30</p>
                        <hr>
                        <p ><b>Lunch:</b> from 11-30 to 14-00</p>
                    </div>
                </div>

            </div>
            <div>
                {% if object.coffee_station %}
                <p class="yes"><b>COFFEE STATIONS : YES</b></p>
                {% else %}
                <div>
                    <p class="no"><b>COFFEE STATIONS : NO</b></p>
                    <div class="contine_info">
                        <ion-icon name="alert-circle-outline"></ion-icon>
                        <p >In order to eat and drink here, you need to get a guest card at the reception, put money on it. Unfortunately, it is impossible to pay with money or bank cards here</p>
                    </div>
                </div>

                {% endif %}
            </div>


            <div>

            </div>
                {% if object.coffee_bar %}
                <p class="yes"><b>COFFEE BAR SOHO : YES</b></p>
                <p class="yes"><b>COFFEE BAR NOHO : YES</b></p>
                {% else %}
                <div>
                    <p class="no"><b>COFFEE BAR SOHO : NO</b></p>
                    <div class="contine_info">
                        <ion-icon name="alert-circle-outline"></ion-icon>
                        <p >In order to eat and drink here, you need to get a guest card at the reception, put money on it. Unfortunately, it is impossible to pay with money or bank cards here</p>
                    </div>
                </div>

                <div>
                    <p class="no"><b>COFFEE BAR NOHO : NO</b></p>
                    <div class="contine_info">
                        <ion-icon name="alert-circle-outline"></ion-icon>
                        <p >In order to eat and drink here, you need to get a guest card at the reception, put money on it. Unfortunately, it is impossible to pay with money or bank cards here</p>
                    </div>
                </div>
                {% endif %}

            </div>


    <!--        INFORMATION-->
    <div>
        {% if object.description %}
        <p class="name_main_date">Some information about this meeting: </p>
        <div>
            <p class="description">{{object.description}}</p>
        </div>
        {% else %}
        <p class="name_main_date">There no information about this meeting</p>
        {% endif %}
    </div>
</div>

{% endblock content %}