{% extends 'meetme/main.html' %}
{% block content %}

<section class="form_content">
    <div class="confirm_box">

        <form method="POST">
              {% csrf_token %}
              <ion-icon name="trash-outline"></ion-icon>
              <p class="text_confirm">Are you sure that you want to delete <b>{{ meetings.title|upper }}</b> meeting?</p>
              <div class="confirm_box_delete">
                <input class="btn" type="submit" value="YES">
                <a class="btn" href="{% url 'meetings' %}">NO</a>

              </div>
        </form>
    </div>
</section>

{% endblock content %}
