{% extends 'meetme/main.html' %}

{% block content %}

<div class="form-main">
    <h1 class="create_meeting" >MEETING EDIT</h1>
    <div class="meeting_form_box">

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div>
                <div class="title_form">
                    <label class="meeting_edit_form" for="title">TITLE</label>
                    {{form.title}}
                </div>

            <div class="title_form">
                <div class="date_field">
                    <div class="meeting_edit_field_date">
                        <label class="meeting_edit_form" for="form.start_date">START DATE</label>
                        <div class="date-box">
                            {{form.start_date}}
                        </div>


                    </div>

                    <div class="meeting_edit_field_date">
                        <label class="meeting_edit_form" for="form.end_date">END DATE</label>
                        <div class="date-box">
                            {{form.end_date}}
                        </div>

                    </div>

                </div>

            </div>
            <div class="title_form_numbers">
                <label class="meeting_edit_form" for="form.kst_number">KST NUMBER</label>
                {{form.kst_number}}
            </div>
            <div class="title_form_numbers">
                <label class="meeting_edit_form" for="form.number_of_quests">NUMBER OF GUESTS</label>
                {{form.number_of_quests}}
            </div>
            <div>
                <p class="semi_title">Please mark the place where quests can eat and drink for free</p>
                <div class="yes-no-field">
                    <div class="meeting_edit_yes_no">
                        {{form.restaurant}}
                        <label class="meeting_info_form" for="form.restaurant">RESTAURANT</label>

                    </div>

                    <div class="meeting_edit_yes_no">
                        {{form.coffee_station}}
                        <label class="meeting_info_form" for="form.coffee_station">COFFEE STATION</label>

                    </div>

                    <div class="meeting_edit_yes_no">
                        {{form.coffee_bar}}
                        <label class="meeting_info_form" for="form.coffee_bar">COFFEE BAR (NOHO/SOHO)</label>

                    </div>





                </div>


            </div>

            <div class="description_area">
                <div>
                    <label class="meeting_info_form" for="form.description">DESCRIPTION</label>
                    <p class="info_descr">Leave some information about your meeting for quests to have a comfortable
                        and cozy time</p>

                </div>
                {{form.description}}<br>



            </div>
            <input class="meeting_form_btn" type="submit" value="SAVE">
            </div>
        </form>

    </div>

</div>



{% endblock content %}