{% extends 'meetme/main.html' %}


{% block content %}

   <div class="form_content">
       <div class="box">
            <!----------------- Register Box ----------------->
           <div class="box-login" id="login">
               <div class="top-header">
                   <h3>Sign Up, Now</h3>
                   <small>We are happy to have you with us.</small>
               </div>
               <div class="input-group">
                   <form method="POST">
                   {% csrf_token %}
                       <div class="input-field">
                           <input type="text" name="username" class="input-box" id="username" required>
                           <label for="username">Username</label>
                       </div>

                       <div class="input-field">
                           <input type="password" name="password" class="input-box" id="password" required>
                           <label for="password">Password</label>
                           <div class="eye-area">
                               <div class="eye-box" onclick="myPassword()">
                                   <ion-icon name="eye-outline" id="eye"></ion-icon>
                                   <ion-icon name="eye-off-outline" id="eye-slash"></ion-icon>

                               </div>
                           </div>
                       </div>
                       <div class="input-field">
                           <input type="password" name="confirm_password" class="input-box" id="confirm_password" required>
                           <label for="confirm_password">Confirm password</label>
                           <div class="eye-area">
                               <div class="eye-box" onclick="myPassword2()">
                                   <ion-icon name="eye-outline" id="eye-2"></ion-icon>
                                   <ion-icon name="eye-off-outline" id="eye-slash-2"></ion-icon>

                               </div>
                           </div>
                       </div>
                       {% if user_form.errors or profile_form.errors %}
                            <div class="error_login">
                                <ion-icon name="close-circle-outline"></ion-icon>
                                <ul>
                                    {% for field, errors in user_form.errors.items %}
                                        {% for error in errors %}

                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                       <div class="input-field">
                            <input type="submit" class="input-submit" value="Sign up">
                       </div>
                   </form>
                   <div class="link_to_register">
                       <small>Already have an account?</small>
                       <a href="{% url 'login' %}">Sign in</a>

                   </div>


               </div>

           </div>

       </div>

</div>


{% endblock content %}