{% extends 'meetme/main.html' %}
{% block content %}


<div class="form-body-reg">
  <h1 class="register_title">REGISTER</h1>
  <form method="POST">
    {% csrf_token %}

    <!--        REGISTER FORM      -->
    <div class="form-reg">
        <label class="login_info_form" for="username">USERNAME</label>

        <!--        USERNAME INPUT AND INFO      -->
        <div class="user_box">
        <input class="register_form_username" type="text" name="username" id="username" placeholder="&#x270e username">
        <p>Letters, digits and @/./+/-/_ only.</p>
        </div>
        {% if info %}
        <div class="error_info">
            <p class="error_logo">X</p>
            <span>Username "{{ username }}" already exist.
                Please use another username</span>
        </div>
        {% endif %}

        <!--        FIRST NAME AND LAST NAME INPUTS      -->
        <div class="name_box">

          <div>
            <label class="login_info_form" for="firstname">FIRSTNAME</label>
            <input class="login_form_name" type="text" name="firstname" id="firstname" placeholder="&#x270e firstname">
          </div>

          <div>
            <label class="login_info_form" for="lastname">LASTNAME</label>
            <input class="login_form_name" type="text" name="lastname" id="lastname" placeholder="&#x270e lastname">
          </div>
        </div>

      <!--        INPUTS      -->
      <label class="login_info_form" for="email">EMAIL</label>
      <input class="register_form_left" type="email" name="email" id="email" placeholder="&#x270e email">
      <label class="login_info_form" for="password">PASSWORD</label>
      <input class="register_form_left" type="password" name="password" id="password" placeholder="&#x270e password">

      <!--        INFO ABOUT PASSWORD      -->
      <p>Your password can't be too similar to your other personal information.</p>
      <p>Your password must contain at least 8 characters.</p>
      <p>Your password can't be a commonly used password.</p>
      <p>Your password can't be entirely numeric.</p>



    </div>
    <!--        BUTTON      -->
    <input type="submit" value="REGISTER">

    <!--        LINK IF YOU HAVE ACCOUNT      -->
    <p><a href="{% url 'login' %}">Already have an account? LOGIN</a></p>

</div>

{% endblock content %}