{% extends 'meetme/main.html' %}
{% load static %}
{% block content %}
<section class="users_page">
    <div onclick="location.href='{% url 'create_user' %}'" style="cursor:pointer;" class="add-meeting">
        <ion-icon name="add-circle-outline"></ion-icon>
        <p class="add_meeting_title">ADD A NEW USER</p>
    </div>
    {% for user in users %}
        <div class="users_box">
            <div class="users_box_info">
                <p>ID: <b>{{user.id}}</b></p>
                <p>Acount type: <b>{{user.acount_type}}</b></p>
                <p>Nickname: <b class="users_nickname">{{user}}</b></p>
                <p>Full name: <b>{{user.first_name}} {{user.last_name}}</b></p>
                <p>Email: <b>{{user.email}}</b></p>
                <p>Date: <b>{{user.date_joined}}</b></p>
            </div>
            <div class="users_box_icons">
                <a href="#"><ion-icon name="create-outline"></ion-icon></a>
                <a href="{% url 'delete' user.id%}"><ion-icon name="trash-outline"></ion-icon></a>
            </div>




        </div>
    {% empty %}
    {% endfor %}



</section>




{% endblock content %}
